* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .5s ease;
    scroll-behavior: smooth;
}

:root {
    --black-bg: #222222;
    --white-bg: #f9f9f9;
    --orange: #e14e1d;
    --blue: #0277bd;
    --yellow: #f0db4f;

    --font-inter: 'Inter', sans-serif;
    --font-black: #424242;
    --font-white: #d5d5d5;
}

/* CUSTOM FONT */

@font-face {
    font-family: 'Haoura sans bold';
    src: url(../DiazJanry.github.io/font/Hauora-Bold.ttf);
}

/* MOUSE SCROLL */

::-webkit-scrollbar {
    width: 4px;
    height: 20pc;
  }

  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
 
  ::-webkit-scrollbar-thumb {
    background: #222; 
  }

/* HEADER */

nav {
    background-color: var(--black-bg);
    padding: 1.5rem 2.5rem;
    color: var(--font-white);
    font-family: var(--font-inter);
    width: 100%;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

a:visited {
    color: var(--font-white);
}

.checkbtn {
    float: right;
    margin-right: 1rem;
    line-height: 10px;
    font-size: 1.4em;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* HOME */

#home {
    background-color: var(--white-bg);
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 105rem;
    padding: 2rem;
}

.content {
    position: relative;
    padding: 2rem;
    margin-top: 20rem;
}

/* HERO */

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-text h1 {
    font-family: 'Haoura sans bold';
    font-size: 4em;
}

.hero-text p {
    font-family: var(--font-inter);
    font-size: 18px;
    color: var(--font-black);
    margin-bottom: 1rem;
}

.hero-links {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
}

.hero-img img {
    max-width: 20rem;
}

.tech-container {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 2rem;
}

.tech-text {
    display: flex;
    align-items: center;

}

.tech-text p {
    font-family: var(--font-inter);
    border-right: 2px solid var(--black-bg);
    padding-right: 2rem;
    margin-right: 3rem;
    font-size: 20px;
}

.tech-icons {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 1.2rem;
}

.fa-js {
    font-size: 31px;
}

#tailwind {
    max-width: 28px;
}


/* ABOUT */

#about {
    height: 75vh;
}

.about-container {
    max-width: 105rem;
    padding: 2rem;
    margin: 0 auto;
}

.about-content {
    margin-top: 8rem;
    padding: 2rem;
}

.about-text h1 {
    font-family: 'Haoura sans bold';
    font-size: 4em;
    text-align: right;
    margin-bottom: 2rem;
}

.about-text p {
    font-family: var(--font-inter);
    font-size: 18px;
    color: var(--font-black);
    text-align: center;
    line-height: 1.3em;
}

.about-text p:nth-last-child(1) {
    margin-top: 1rem;
}

.other-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    gap: 1.2rem;
    margin-top: 4rem;
}

.other-skills p {
    font-family: var(--font-inter);
    border-bottom: 2px solid var(--black-bg);
    padding-bottom: 2rem;
    font-size: 20px;
}

.skill-icons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}


#xd, #premiere-pro {
    max-width: 32px;
}

#animate {
    max-width: 33px;
}

#studio-code {
    max-width: 30px;
}

#clip-studio {
    max-width: 33px;
}



/* PROJECTS */

#projects {
    background-color: var(--white-bg);
    height: 270vh;
}

.projects-container {
    max-width: 105rem;
    padding: 2rem;
    margin: 0 auto;
}

.projects-content {
    margin-top: 8rem;
    padding: 2rem;
}

.projects-text h1 {
    font-family: 'Haoura sans bold';
    font-size: 4em;
    text-align: left;
    margin-bottom: 2rem;
}

.projects-image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5rem;
}

.projects-image {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0px 0px 52px -19px rgba(0,0,0,0.75);
}

.projects-image img {
    max-width: 50rem;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-caption {
    font-family: var(--font-inter);
    text-align: center;
    margin: auto auto;
}

.project-caption h2 {
    margin-bottom: 2rem;
}

.project-links {
    gap: 1.3rem;
    margin-top: 2rem;
    font-size: 30px;
}

.project-links .fa-wordpress, .css3 {
    padding-right: 2rem;
    border-right: 2px solid var(--black-bg);
}

.project-links .fa-square-github {
    padding-left: 2rem;
}



/* CONTACT */

#contact {
    height: 32vh;
    background-color: var(--black-bg);
}

.contact-container {
    padding: 2rem;
    margin: 0 auto;
    max-width: 105rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
}

.contact-content h1 {
    font-family: 'Haoura sans bold';
    font-size: 4em;
    text-align: left;
    margin-bottom: 2rem;
    color: var(--font-white)
}

.contact-content-info {
    display: flex;
    color: var(--font-white);
    font-family: var(--font-inter);
    gap: 1.3rem;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.phone {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin: 0 4rem;
}

[left] {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 1.3rem;
}


/* MEDIA QUERIES */

@media only screen and (max-width:1440px) {
    .content {
        margin-top: 15rem;
    }

    #about {
        height: 100vh;
    }

    #contact {
        height: 36vh;
    }

    .project-caption {
        margin: auto auto;
    }

    .projects-image {
        width: 50%;
    }
}

@media only screen and (max-width:1024px) {
    .content {
        margin-top: 15rem;
    }

    #projects {
        height: 415vh;
    }

    .projects-image-container {
        flex-direction: column-reverse;
    }

    .project-caption {
        text-align: center;
        margin-bottom: 2rem;
    }

    .projects-image {
        width: 100%;
    }
    
    .projects-image img {
        max-width: none;
    }
}

@media only screen and (max-width: 952px) {
    #home {
        height: 120vh;
    }

    nav ul li a {
        font-size: 16px;
    }

    a:visited {
        color: var(--font-black);
    }
    
    .hero-content {
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        gap: 1.3rem;
    }

    .content {
        margin-top: .5rem;
    }

    .hero-text h1 {
        font-size: 3em;
        margin: 1rem 0;
        text-align: center;
    }

    .hero-text p {
        text-align: center;
    }

    .hero-links {
        justify-content: center;
    }

    .tech-container {
        margin-top: 5rem;
    }

    .tech-text {
        flex-direction: column;
        margin: 0 auto;
    }    

    .tech-text p {
       border-right: none;
       border-bottom: 2px solid var(--black-bg);
       margin-bottom: 2rem;
       padding: 0 0 1.5rem 0;
       margin: 0 auto 2rem;
    }


    #about {
        height: 130vh;
    }

    .about-text h1 {
        text-align: center;
    }

}

@media only screen and (max-width: 858px) {
    .checkbtn {
        display: block;
        font-size: 20px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 70px;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: var(--font-black);
    }

    #check:checked ~ ul {
        right: 0;
        z-index: 99;
    }

}

@media only screen and (max-width: 768px) {
    #about {
        height: 100vh;
    }

    #contact {
        height: 40vh;
    }

    #projects {
        height: 350vh;
    }

    .contact-content h1 {
        text-align: center;
    }

    .phone {
        margin: 0 3rem;
    }

    .projects-text h1 {
        text-align: center;
    }


}

@media only screen and (max-width:425px) {
    #home {
        height: 130vh;
    }

    #about {
        height: 125vh;
    }

    #projects {
        height: 280vh;
    }

    #contact {
        height: 58vh;
    }
    

    .contact-content-info {
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px) {
    #about {
        height: 145vh;
    }

    #contact {
        height: 58vh;
    }

    .phone {
        margin: 0 2rem;
    }
}


    